<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>747009347671-fbmdvs4di8dh72qmcfu1cn4i2hgdmoj5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.747009347671-fbmdvs4di8dh72qmcfu1cn4i2hgdmoj5</string>
	<key>API_KEY</key>
	<string>AIzaSyDoxoTUCE5djTRo3Y_Mk1HH99qwDobp9sg</string>
	<key>GCM_SENDER_ID</key>
	<string>747009347671</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.polandQuiz</string>
	<key>PROJECT_ID</key>
	<string>poland-quiz-62dae</string>
	<key>STORAGE_BUCKET</key>
	<string>poland-quiz-62dae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:747009347671:ios:406cf46bbf46785aafd312</string>
</dict>
</plist>